<template>
    <div>
        <UseCasesHero :page="page.content"/>
        <ImageFull
            v-scroll-reveal
            :imageFile="page.content.vcontainer_image.filename"
            :imageAlt="page.content.vcontainer_image.alt"
        />
        <TheBenefits/>
        <UseCasesMore :more="more"/>
        <CTAMain/>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import seoMeta from '../../utils/seo'
    export default {
        data() {
            return {
                more: null
            }
        },
        async asyncData ({ app, route }) {
            let
                slug = route.params.slug,
                res = await app.$storyapi.get('cdn/stories', {
                    starts_with: 'use-cases/',
                    by_slugs: '*/' + slug
                }),
                page = res.data.stories[0]

            return { page, slug }
        },
        computed: { ...mapState(['useCases']) },
        methods: {
            moreUseCases() {
                let result = this.useCases.filter(i => i.slug != this.slug)
                this.more = result
            }
        },
        mounted () {
            this.moreUseCases()
        },
        head() {
            let
                { title, snippet, image: { filename: image } } = this.page.content,
                { path } = this.$route

            path = this.$config.baseURL + path

            return {
                titleTemplate: `${ title } - Virtutis Solaris Solutions | %s`,
                meta: seoMeta({ title, snippet, image, path }),
                link: [{ hid: 'canonical', rel: 'canonical', href: path }]
            }
        }
    }
</script>