<template>
    <div>
        <SolutionsHero
            :pageTitle="page.content.title"
            :heroImage="page.content.image.filename"
            :heroImageAlt="page.content.image.alt"
            :snippet="page.content.snippet"
            :highlights="page.content.highlights"
            :productId="page.content.sku"
            :productPrice="page.content.stock_price"
            :productUrl="`${$config.baseURL}/${page.full_slug}`"
            :productDescription="page.content.description"
            :productStoreImage="page.content.store_image.filename"
            :productName="page.content.title"
        />
        <SolutionsGallery :gallery="page.content.gallery"/>
        <SolutionsSpecs
            :storeImage="page.content.store_image.filename"
            :storeImageAlt="page.content.store_image.alt"
            :pageTitle="page.content.title"
            :specs="page.content.specs"
            :productId="page.content.sku"
            :productPrice="page.content.stock_price"
            :productUrl="`${$config.baseURL}/${page.full_slug}`"
            :productDescription="page.content.description"
            :productStoreImage="page.content.store_image.filename"
            :productName="page.content.title"
        />
        <SolutionsLiterature
            v-if="page.content.full_literature"
            :page="page.content"
        />
        <LoadAppliances
            v-if="page.content.load_appliances.length > 0"
            :sectionHeading="page.content.load_appliances[0].section_heading"
            :imageFile="page.content.load_appliances[0].image.filename"
            :imageAlt="page.content.load_appliances[0].image.alt"
            :thead="page.content.load_appliances[0].table.thead"
            :tbody="page.content.load_appliances[0].table.tbody"
            :productId="page.content.sku"
            :productPrice="page.content.stock_price"
            :productUrl="`${$config.baseURL}/${page.full_slug}`"
            :productDescription="page.content.description"
            :productStoreImage="page.content.store_image.filename"
            :productName="page.content.title"
        />
        <CTAMain/>
    </div>
</template>

<script>
    import seoMeta from '../../utils/seo'
    export default {
        async asyncData ({ app, route }) {
            try {
                let
                    slug = route.params.slug,
                    res = await app.$storyapi.get('cdn/stories', {
                        starts_with: 'solutions/',
                        by_slugs: '*/' + slug,
                        resolve_relations: 'category',
                    }),
                    page = res.data.stories[0]

                return { page, slug }
            } catch (error) { console.log(error) }
        },
        head() {
            let
                { title, snippet, image: { filename: image } } = this.page.content,
                { path } = this.$route

            path = this.$config.baseURL + path

            return {
                titleTemplate: `${ title } - Virtutis Solaris Solutions | %s`,
                meta: seoMeta({ title, snippet, image, path }),
                link: [{ hid: 'canonical', rel: 'canonical', href: path }]
            }
        }
    }
</script>