<template>
    <div class="r-hero grid grid-cols-12 grid-rows-6 gap-4 sm:gap-8 h-screen relative pb-20 xs:pb-0 lg:pb-16 bg-gray-50">
        <div class="col-span-full row-start-1 row-end-4 lg:row-end-5 relative">
            <img :src="page.image.filename" :alt="page.image.alt" class="w-full h-full"/>
            <div class="absolute inset-0 bg-black bg-opacity-50"/>
        </div>
        <div class="col-span-full px-4 row-start-3 row-end-3 lg:row-start-4 lg:row-end-4 z-10 self-end pb-4 flex flex-col sm:flex-row items-center justify-between lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11 animate-pop-in" style="animation-delay:.6s">
            <h2
                class="text-white text-3xl sm:text-5xl leading-tight mb-4 sm:mb-0">
                <span v-text="page.title" class="block opacity-80 text-base text-center sm:text-left sm:text-lg uppercase tracking-wider"/>
                <span v-text="page.headline || `Test drive a Solaris`" class="block leading-tight"/>
            </h2>
            <NuxtLink to="/contact" class="r-btn-primary is-inverted">
                <IconLetter class="mr-2 w-5"/>
                <span v-text="`Contact Sales`"/>
            </NuxtLink>
        </div>
        <div class="col-span-full px-4 row-start-4 lg:row-start-5 row-end-7 text-center sm:grid sm:grid-cols-3 sm:gap-8 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11 animate-pop-in" style="animation-delay:.8s">
            <h3
                v-text="page.the_problem[0].heading"
                class="pt-2 sm:pt-0 sm:self-start text-center sm:col-span-1 text-2xl"
            />
            <p v-text="page.the_problem[0].content" class="mt-4 sm:mt-0 text-center sm:text-left sm:col-span-2 md:text-lg"/>
            <h3 class="block justify-self-center self-center sm:self-start mt-6 sm:mt-0">
                <span v-text="page.the_solution[0].heading" class="sr-only"/>
                <IconTickMark class="w-12 h-12 mx-auto"/>
            </h3>
            <div
                v-html="$md.render(page.the_solution[0].content)"
                class="mt-4 sm:mt-0 text-center sm:text-left sm:col-span-2 text-base font-medium sm:text-2xl"
            />
        </div>
    </div>
</template>

<script>
    import IconCart from '~/assets/icons/cart.svg?inline'
    import IconChevronDown from '~/assets/icons/chevron-down.svg?inline'
    import IconLetter from '~/assets/icons/letter.svg?inline'
    import IconTickMark from '~/assets/icons/tick-mark.svg?inline'
    export default {
        props: [ 'page' ],
        components: { IconCart, IconChevronDown, IconLetter, IconTickMark }
    }
</script>