<template>
    <WrapperGrow bottom class="overflow-hidden bg-gray-50">
        <ContainerMain class="relative px-4 sm:px-6 lg:px-8">
            <div v-scroll-reveal class="relative lg:grid lg:grid-cols-3 lg:gap-x-8">
                <div class="lg:col-span-1">
                    <h2 class="text-3xl tracking-tight text-gray-900 sm:text-4xl max-w-xs">
                        <PreCaps :text="'More'" class="font-bold"/>
                        <span v-text="`Explore more use cases`"/>
                    </h2>
                </div>
                <div class="mt-4 sm:mt-8 grid gap-4 grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:mt-0 lg:col-span-2">
                    <NuxtLink
                        v-for="item in more"
                        :key="item.uuid"
                        :to="`/use-cases/${item.slug}`"
                        class="relative overflow-hidden rounded-md w-full h-[424px] xs:h-[344px] sm:h-[424px] lg:h-[344px]">
                        <h4
                            v-text="item.content.title"
                            class="text-white text-xl absolute z-10 bottom-2 left-3"
                        />
                        <img
                            :src="item.content.image.filename"
                            :alt="item.content.image.alt"
                            class="w-full h-[424px] xs:h-[344px] sm:h-[424px] lg:h-[344px]"
                        />
                        <OverlayBlack/>
                    </NuxtLink>
                </div>
            </div>
        </ContainerMain>
    </WrapperGrow>
</template>

<script>
    export default {
        props: ['more']
    }
</script>