<template>
    <div class="r-hero grid grid-cols-12 grid-rows-6 gap-4 sm:gap-8 h-screen relative text-white">
        <div class="col-span-full row-span-full z-10 grid grid-cols-12 grid-rows-6 gap-4 px-4">
            <div class="col-span-full row-start-1 row-end-4 self-end sm:col-start-2 sm:col-end-12 justify-self-center text-center animate-pop-in" style="animation-delay:.8s">
                <h2 v-text="pageTitle" class="text-4xl sm:text-6xl md:text-7xl leading-tight sm:mb-3"/>
                <p
                    v-text="pageSnippet"
                    class="sm:text-lg max-w-sm sm:max-w-screen-sm mx-auto opacity-70"
                />
            </div>
            <div class="col-span-full row-start-6 row-end-7 justify-self-center self-center">
                <button
                    @click="scrollNext"
                    class="mx-auto p-4 text-white animate-pop-in" style="animation-delay:1.2s">
                    <IconChevronDown class="w-5 motion-safe:animate-bounce"/>
                </button>
            </div>
        </div>
        <div class="col-span-full row-span-full relative overflow-hidden">
            <img
                :src="pageImage"
                :alt="pageImageAlt"
                class="w-full h-full"
            />
            <OverlayBlack class="bg-opacity-50"/>
        </div>
    </div>
</template>

<script>
    import IconPhone from '~/assets/icons/smartphone.svg?inline'
    import IconWashingMachine from '~/assets/icons/washing-machine.svg?inline'
    import IconChevronRight from '~/assets/icons/chevron-right.svg?inline'
    import IconChevronDown from '~/assets/icons/chevron-down.svg?inline'
    import IconCart from '~/assets/icons/cart.svg?inline'
    import { mapState } from 'vuex'
    export default {
        props: [
            'pageTitle', 'pageSnippet', 'pageImage', 'pageImageAlt', 'productHighlights'
        ],
        components: { IconPhone, IconWashingMachine, IconChevronRight, IconChevronDown, IconCart },
        computed: { ...mapState([ 'residential', 'industrial' ]) },
        methods: {
            scrollNext(e) { if (process.client) e.target.parentNode.parentNode.parentNode.nextElementSibling.scrollIntoView() }
        }
    }
</script>