<template>
    <div class="grid grid-cols-12 grid-rows-6 gap-4 sm:gap-8 h-[calc(100vh-0.5rem)] relative pt-2 sm:px-2 bg-white">
        <div
            v-scroll-reveal="{ delay: 600 }"
            class="col-span-full sm:col-start-2 sm:col-end-12 md:col-end-11 lg:col-end-8 xl:col-end-7 row-span-full self-center z-10">
            <div class="sm:mx-8 py-10 sm:py-16 md:py-24">
                <div class="bg-black bg-opacity-30 p-4 sm:p-8 sm:rounded-xl">
                    <h3
                        v-text="productTitle"
                        class="text-3xl sm:text-4xl leading-tight text-white mb-2"
                    />
                    <div class="grid grid-cols-2 gap-4 gap-y-8 sm:gap-8 py-8">
                        <div v-for="item in productHighlights" :key="item._uid" class="text-white">
                            <span v-text="item.keypoint" class="block font-bold mb-1 text-3xl leading-none"/>
                            <p v-text="item.explainer" class="opacity-70 text-sm"/>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-2 max-w-xs mb-4">
                        <button
                            :data-item-id="productId"
                            :data-item-price="productPrice"
                            :data-item-url="productUrl"
                            :data-item-description="productDescription"
                            :data-item-image="productStoreImage"
                            :data-item-name="productName"
                            class="r-btn-primary is-inverted snipcart-add-item">
                            <IconCart class="mr-2 w-5"/>
                            <span v-text="`Order Now`"/>
                        </button>
                        <NuxtLink :to="productSlug" class="r-btn-plain is-inverted">
                            <span v-text="`Learn More`"/>
                            <IconChevronRight class="ml-2 w-4"/>
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-full row-span-full relative overflow-hidden sm:rounded-t-xl sm:rounded-xl">
            <img
                :src="productImage"
                :alt="productImageAlt"
                class="w-full h-full"
            />
            <OverlayBlack/>
        </div>
    </div>
</template>

<script>
    import IconPhone from '~/assets/icons/smartphone.svg?inline'
    import IconWashingMachine from '~/assets/icons/washing-machine.svg?inline'
    import IconChevronRight from '~/assets/icons/chevron-right.svg?inline'
    import IconCart from '~/assets/icons/cart.svg?inline'
    export default {
        props: [
            'productTitle', 'productSnippet', 'productImage', 'productImageAlt', 'productHighlights',
            'productId', 'productPrice', 'productUrl', 'productDescription', 'productStoreImage', 'productName', 'productSlug'
        ],
        components: { IconPhone, IconWashingMachine, IconChevronRight, IconCart },
    }
</script>