<template>
    <WrapperGrow bottom class="bg-gray-50">
        <ContainerMain pad>
            <div class="grid grid-cols-12 gap-4 sm:gap-8 relative rounded-lg overflow-hidden">
                <div class="col-span-full sm:col-start-2 sm:col-end-12 justify-self-center self-center text-center">
                    <WrapperGrow both v-scroll-reveal>
                        <h3
                            v-text="pageTeaserHeadline"
                            class="text-3xl sm:text-5xl leading-tight mb-2 sm:mb-4"
                        />
                        <p
                            v-text="pageTeaserCopy"
                            class="opacity-70 text-lg sm:text-xl max-w-xl mx-auto leading-tight"
                        />
                        <div class="r-cta-group grid grid-cols-2 gap-2 max-w-xs mx-auto mt-6">
                            <button
                                :data-item-id="productId"
                                :data-item-price="productPrice"
                                :data-item-url="productUrl"
                                :data-item-description="productDescription"
                                :data-item-image="productStoreImage"
                                :data-item-name="productName"
                                class="r-btn-primary snipcart-add-item">
                                <IconCart class="mr-2 w-5"/>
                                <span v-text="`Order Now`"/>
                            </button>
                            <NuxtLink :to="productSlug" class="r-btn-plain">
                                <span v-text="`Learn More`"/>
                                <IconChevronRight class="ml-2 w-4"/>
                            </NuxtLink>
                        </div>
                    </WrapperGrow>
                </div>
            </div>
            <!-- VContainer Use-Cases -->
            <div class="grid grid-cols-12 sm:grid-rows-6 gap-4 sm:px-4">
                <NuxtLink
                    v-scroll-reveal="{ delay: (300 + (150 * (i/1))) }"
                    v-for="(item, i) in useCases.slice(0, 2)"
                    :key="item.uuid"
                    :to="`/use-cases/${item.slug}`"
                    :class="`
                        h-96 sm:h-auto overflow-hidden relative rounded-lg col-span-full sm:order-1 sm:row-start-1 sm:row-end-4
                        ${ i === 0 ? 'order-2 sm:col-start-1 sm:col-end-7' : 'order-3 sm:col-start-7 sm:col-end-13' }`">
                    <h4
                        v-text="item.content.title"
                        class="text-white text-xl sm:text-2xl absolute z-10 bottom-4 left-4 sm:top-4 sm:left-6"
                    />
                    <img
                        :src="item.content.image.filename"
                        :alt="item.content.image.alt"
                        class="w-full h-full"
                    />
                    <OverlayBlack/>
                </NuxtLink>
                <NuxtLink v-scroll-reveal :to="vContainerLink"
                    class="h-96 sm:h-auto rounded-lg col-span-full order-4 sm:order-1 relative overflow-hidden sm:col-start-3 sm:col-end-11 sm:row-start-2 sm:row-end-5 z-10">
                    <img
                        :src="vContainerImage"
                        :alt="vContainerAlt"
                        class="w-full h-full sm:r-border-4 sm:border-white"
                    />
                </NuxtLink>
                <NuxtLink
                    v-scroll-reveal="{ delay: (300 + (150 * (i/1))) }"
                    v-for="(item, i) in useCases.slice(2, 5)"
                    :key="item.uuid"
                    :to="`/use-cases/${item.slug}`"
                    :class="`
                        h-96 sm:h-auto rounded-lg col-span-full order-4 sm:order-1 sm:row-start-4 sm:row-end-7 relative overflow-hidden
                        ${gridClasses(i)}`">
                    <h4
                        v-text="item.content.title"
                        class="text-white text-xl sm:text-2xl absolute z-10 bottom-4 left-4 sm:left-6"
                    />
                    <img
                        :src="item.content.image.filename"
                        :alt="item.content.image.alt"
                        class="w-full h-full"
                    />
                    <OverlayBlack/>
                </NuxtLink>
            </div>
        </ContainerMain>
    </WrapperGrow>
</template>

<script>
    import IconChevronRight from '~/assets/icons/chevron-right.svg?inline'
    import IconCart from '~/assets/icons/cart.svg?inline'
    import { mapState } from 'vuex'
    export default {
        props: [
            'pageTitle', 'vContainerLink', 'vContainerImage', 'vContainerAlt', 'pageTeaserHeadline', 'pageTeaserCopy',
            'productId', 'productPrice', 'productUrl', 'productDescription', 'productStoreImage', 'productName', 'productSlug'
        ],
        components: { IconChevronRight, IconCart },
        computed: {
            ...mapState(['useCases'])
        },
        methods: {
            gridClasses(i) {
                if (i === 0) return 'sm:col-start-1 sm:col-end-5'
                else if (i === 1) return 'sm:col-start-5 sm:col-end-9'
                else return 'sm:col-start-9 sm:col-end-13'
            }
        }
    }
</script>