<template>
    <div>
        <LegalHero :page="page"/>
        <LegalContent :page="page"/>
        <CTAMain/>
    </div>
</template>

<script>
    export default {
        async asyncData ({ app, route }) {
            try {
                let
                    slug = route.params.slug,
                    result = await app.$storyapi.get('cdn/stories', {
                        starts_with: 'legal/',
                        by_slugs: '*/' + slug
                    }),
                    page = result.data.stories[0]

            return { page }
            } catch (error) { console.log(error) }
        },
        head() {
            let
                { title, summary } = this.page.content,
                { path } = this.$route

            path = this.$config.baseURL + path

            return {
                titleTemplate: `${title} | %s`,
                meta: [
                    { hid: 'description', name: 'description', content: summary },
                    { hid: 'robots', name: 'robots', content: 'noindex,nofollow' }
                ],
                link: [{ hid: 'canonical', rel: 'canonical', href: path }]
            }
        }
    }
</script>