<template>
    <div
        class="max-w-screen-lg mx-auto relative"
        :class="{ 'px-4': pad }">
        <slot/>
    </div>
</template>

<script>
    export default {
        props: { pad: Boolean }
    }
</script>