<template>
    <div class="grid grid-cols-12 grid-rows-6 gap-4 h-[480px] relative">
        <div class="col-span-full row-start-1 row-end-7 relative">
            <img
                :src="settings.cta[0].cover.filename"
                :alt="settings.cta[0].cover.alt"
                class="w-full h-full"
            />
            <OverlayBlack/>
        </div>
        <div
            v-scroll-reveal
            class="col-span-full px-4 row-start-2 row-end-6 z-10 flex flex-col items-center justify-center lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11 text-white">
            <h2
                class="text-3xl sm:text-5xl leading-tight mb-6">
                <span v-text="settings.cta[0].heading" class="block leading-tight"/>
            </h2>
            <p
                v-text="settings.cta[0].copy"
                class="opacity-70 max-w-md text-center mx-auto mb-8 sm:mb-12 text-lg"
            />
            <NuxtLink :to="`/${settings.cta[0].link.story.slug}`" class="r-btn-primary is-inverted">
                <span v-text="`Contact Us`"/>
            </NuxtLink>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        computed: {
            ...mapState(['settings'])
        }
    }
</script>