<template>
    <figure class="grid grid-cols-12">
        <img
            :src="imageFile"
            :alt="imageAlt"
            class="col-span-full w-full h-[424px] sm:h-[528px] md:h-[656px] lg:h-[720px] xl:h-[784px]"
        />
    </figure>
</template>

<script>
    export default {
        props: ['imageFile', 'imageAlt']
    }
</script>