<template>
    <WrapperGrow both class="bg-black">
        <ContainerMini class="xs:px-4">
            <h2
                v-text="sectionHeading"
                class="text-white text-2xl lg:text-3xl leading-tight pb-6 sm:pb-8 -mt-3 px-4"
            />
            <div class="grid gap-4 grid-cols-1 md:grid-cols-2 bg-white p-3 rounded-xl">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th
                                v-for="item in thead" :key="item._uid"
                                v-text="item.value"
                                scope="col"
                                class="px-4 pb-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                            />
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item, i) in tbody">
                            <tr
                                v-if="i % 2 == 0"
                                class="bg-white"
                                :key="item.body[0]._uid">
                                <td
                                    v-text="item.body[0].value"
                                    class="px-4 py-3 whitespace-nowrap text-sm text-gray-900"
                                />
                                <td
                                    v-text="item.body[1].value"
                                    class="px-4 py-3 whitespace-nowrap text-sm text-gray-900"
                                />
                            </tr>
                            <tr
                                v-else
                                class="bg-gray-100"
                                :key="item.body[0]._uid">
                                <td
                                    v-text="item.body[0].value"
                                    class="px-4 py-3 whitespace-nowrap text-sm text-gray-900"
                                />
                                <td
                                    v-text="item.body[1].value"
                                    class="px-4 py-3 whitespace-nowrap text-sm text-gray-900"
                                />
                            </tr>
                        </template>
                    </tbody>
                </table>
                <div class="relative">
                    <img
                        :src="imageFile"
                        :alt="imageAlt"
                        class="rounded-md md:rounded-tl-none md:rounded-bl-none md:rounded-tr-lg md:rounded-br-lg max-h-[640px] md:max-h-[none] w-full h-full"
                    >
                    <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2">
                        <button
                            :data-item-id="productId"
                            :data-item-price="productPrice"
                            :data-item-url="productUrl"
                            :data-item-description="productDescription"
                            :data-item-image="productStoreImage"
                            :data-item-name="productName"
                            class="r-btn-primary is-inverted w-40 shadow-lg snipcart-add-item">
                            <IconCart class="mr-2 w-5"/>
                            <span v-text="`Order Now`"/>
                        </button>
                    </div>
                </div>
            </div>
        </ContainerMini>
    </WrapperGrow>
</template>

<script>
    import IconCart from '~/assets/icons/cart.svg?inline'
    export default {
        props: [
            'imageFile', 'imageAlt', 'sectionHeading', 'thead', 'tbody',
            'productId', 'productPrice', 'productUrl', 'productDescription', 'productStoreImage', 'productName'
        ],
        components: { IconCart }
    }
</script>