<template>
    <div v-if="stretched" class="flex">
        <div class="mr-3 flex-shrink-0">
            <img
                :src="image"
                class="h-full min-h-[120px] max-h-[120px] w-20"
            />
        </div>
        <div>
            <h4 v-text="title" class="text-lg -mt-1 leading-tight"/>
            <p v-text="copy" class="mt-2 text-sm opacity-70"/>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            stretched: { type: Boolean, default: true },
            image: String,
            title: String,
            copy: String
        }
    }
</script>