<template>
    <nav class="r-main-nav">
        <h2 v-text="`Navigation (Desktop View)`" class="sr-only"/>
        <ul class="r-mega-menu flex items-center">
            <li class="r-has-dropdown">
                <button
                    type="button"
                    class="r-dropdown-triggers cursor-auto text-white flex items-center p-4 pr-5">
                    <span v-text="categories[0].content.title_in_nav" class="block mr-2"/>
                    <IconChevronDown class="w-3 r-flip-on-hover transform transition duration-300"/>
                </button>
                <WrapperGrow bottom class="r-dropdown text-white">
                    <div class="max-w-screen-xl px-8 mx-auto relative grid grid-cols-12 gap-8 pt-12">
                        <TitleSide
                            :title="categories[0].content.title"
                            :copy="categories[0].content.snippet"
                            class="col-start-1 col-span-3"
                        />
                        <div class="col-start-4 col-end-13 grid grid-cols-3 gap-8 justify-center">
                            <NuxtLink
                                v-for="solution in residential"
                                :key="solution.uuid"
                                :to="`/solutions/${solution.slug}`"
                                class="block text-center hover:bg-gray-900 p-4 rounded-lg">
                                <img
                                    :src="solution.content.icon.filename"
                                    :alt="solution.content.icon.alt"
                                    class="w-12 mx-auto"
                                />
                                <h4 v-text="solution.content.title" class="mt-4"/>
                            </NuxtLink>
                        </div>
                    </div>
                </WrapperGrow>
            </li>
            <li class="r-has-dropdown">
                <button
                    type="button"
                    class="r-dropdown-triggers cursor-auto text-white flex items-center p-4 pr-5">
                    <span v-text="categories[1].content.title_in_nav" class="block mr-2"/>
                    <IconChevronDown class="w-3 r-flip-on-hover transform transition duration-300 rotate-0"/>
                </button>
                <WrapperGrow bottom class="r-dropdown text-white">
                    <div class="max-w-screen-xl px-8 mx-auto relative grid grid-cols-12 gap-8 pt-12">
                        <TitleSide
                            :title="categories[1].content.title"
                            :copy="categories[1].content.snippet"
                            class="col-start-1 col-span-3"
                        />
                        <div class="col-start-4 col-end-13 grid grid-cols-3 gap-8 justify-center">
                            <NuxtLink
                                v-for="solution in industrial"
                                :key="solution.uuid"
                                :to="`/solutions/${solution.slug}`"
                                class="block text-center hover:bg-gray-900 p-4 rounded-lg">
                                <img
                                    :src="solution.content.icon.filename"
                                    :alt="solution.content.icon.alt"
                                    class="w-12 mx-auto"
                                />
                                <h4 v-text="solution.content.title" class="mt-4"/>
                            </NuxtLink>
                        </div>
                    </div>
                </WrapperGrow>
            </li>
            <li class="r-has-dropdown">
                <button
                    type="button"
                    class="r-dropdown-triggers cursor-auto text-white flex items-center p-4 pr-5">
                    <span v-text="`Use Cases`" class="block mr-2"/>
                    <IconChevronDown class="w-3 r-flip-on-hover transform transition duration-300 rotate-0"/>
                </button>
                <WrapperGrow bottom class="r-dropdown text-white">
                    <div class="max-w-screen-xl px-8 mx-auto relative grid grid-cols-12 gap-8 pt-12">
                        <div class="col-span-full grid grid-cols-2 lg:grid-cols-3 gap-4 justify-center">
                            <NuxtLink
                                v-for="useCase in useCases"
                                :key="useCase.uuid"
                                :to="`/use-cases/${useCase.slug}`"
                                class="hover:bg-gray-900 p-4 rounded-lg">
                                <MediaObject
                                    :image="useCase.content.image.filename"
                                    :title="useCase.content.title"
                                    :copy="useCase.content.snippet"
                                />
                            </NuxtLink>
                        </div>
                    </div>
                </WrapperGrow>
            </li>
        </ul>
    </nav>
</template>

<script>
    import IconChevronDown from '~/assets/icons/chevron-down.svg?inline'
    import { mapState } from 'vuex'
    export default {
        components: { IconChevronDown },
        computed: { ...mapState([ 'residential', 'industrial', 'useCases', 'categories' ]) }
    }
</script>

<style lang="scss" scoped>
    .r-dropdown {
        @apply fixed right-0 left-0 opacity-0 invisible w-screen;
        .trigger-enter & { @apply visible; }
        .trigger-enter-active & { @apply opacity-100; }
        > * {
            @apply transform-gpu translate-y-4 opacity-0 transition-all ease-in;
            .trigger-enter-active & { @apply opacity-100 translate-y-0; }
        }
    }
</style>