<template>
    <nav class="grid grid-cols-2 md:grid-cols-4 gap-8 mx-auto md:max-w-screen-md py-8 sm:py-12 px-4">
        <h2 v-text="`Navigation (Mobile View)`" class="sr-only"/>
        <!-- Residential Links -->
        <div>
            <h3 v-text="`Residential`" class="text-xs font-medium text-gray-400 tracking-wider uppercase"/>
            <ul class="mt-3">
                <li v-for="item in residential" :key="item.uuid">
                    <NuxtLink
                        :to="`/${item.full_slug}`"
                        v-text="item.name"
                        class="text-sm font-medium text-gray-300 hover:text-gray-100 block py-1.5"
                    />
                </li>
            </ul>
        </div>
        <!-- Industrial Links -->
        <div>
            <h3 v-text="`Industrial`" class="text-xs font-medium text-gray-400 tracking-wider uppercase"/>
            <ul class="mt-3">
                <li v-for="item in industrial" :key="item.uuid">
                    <NuxtLink
                        :to="`/${item.full_slug}`"
                        v-text="item.name"
                        class="text-sm font-medium text-gray-300 hover:text-gray-100 block py-1.5"
                    />
                </li>
            </ul>
        </div>
        <!-- Use Cases Links -->
        <div>
            <h3 v-text="`Use Cases`" class="text-xs font-medium text-gray-400 tracking-wider uppercase"/>
            <ul class="mt-3">
                <li v-for="item in useCases" :key="item.uuid">
                    <NuxtLink
                        :to="`/${item.full_slug}`"
                        v-text="item.name"
                        class="text-sm font-medium text-gray-300 hover:text-gray-100 block py-1.5"
                    />
                </li>
            </ul>
        </div>
        <!-- More Links -->
        <div>
            <h3 v-text="`More`" class="text-xs font-medium text-gray-400 tracking-wider uppercase"/>
            <ul class="mt-3">
                <li v-for="item in settings.company_links" :key="item._uid">
                    <NuxtLink
                        :to="`/${item.link.story.slug}`"
                        v-text="item.name"
                        class="text-sm font-medium text-gray-300 hover:text-gray-100 block py-1.5"
                    />
                </li>
                <li v-for="item in settings.legal_links" :key="item._uid">
                    <NuxtLink
                        :to="`/${item.link.story.full_slug}`"
                        v-text="item.name"
                        class="text-sm font-medium text-gray-300 hover:text-gray-100 block py-1.5"
                    />
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        computed: { ...mapState(['residential', 'industrial', 'useCases', 'settings']) }
    }
</script>