<template>
    <WrapperGrow bottom class="bg-gray-50">
        <ContainerMini pad>
            <div class="grid grid-cols-12 gap-4 sm:gap-8 relative rounded-lg overflow-hidden">
                <div class="col-start-2 col-end-12 justify-self-center self-center text-center">
                    <div v-scroll-reveal>
                        <h2
                            v-text="promoHeadline"
                            class="text-3xl sm:text-5xl leading-tight mb-2 sm:mb-4"
                        />
                        <p
                            v-text="promoCopy"
                            class="opacity-70 text-lg sm:text-xl max-w-xl mx-auto leading-tight"
                        />
                        <NuxtLink :to="`/${promoSlug}`" class="r-btn-primary w-40 mx-auto mt-6">
                            <span v-text="`Learn More`"/>
                            <IconChevronRight class="ml-2 w-4"/>
                        </NuxtLink>
                    </div>
                </div>
            </div>
            <WrapperGrow top class="grid grid-cols-12 md:gap-8">
                <!-- VS App Feature Set 1 -->
                <ul class="col-span-full sm:col-span-8 sm:col-start-3 text-center md:col-start-1 md:col-span-4 md:text-right order-2 md:order-1">
                    <li
                        v-scroll-reveal="{ delay: (300 + (150 * (i/1))) }"
                        v-for="(item, i) in appDetails.features.slice(0, 4)"
                        :key="item._uid"
                        class="mb-8">
                        <h3 v-text="item.title" class="text-xl mb-2"/>
                        <p v-text="item.snippet" class="opacity-70 leading-tight px-6 sm:px-8 md:px-0"/>
                    </li>
                </ul>
                <div class="col-span-full md:col-start-5 md:col-span-4 order-1 mb-10 sm:mb-16 md:mb-0">
                    <img
                        v-scroll-reveal
                        :src="appDetails.main_screenshot.filename"
                        :alt="appDetails.main_screenshot.alt"
                        class="w-full object-contain max-h-[640px] md:max-h-[none]"
                    />
                </div>
                <!-- VS App Feature Set 2 -->
                <ul class="col-span-full sm:col-span-8 sm:col-start-3 text-center md:col-start-9 md:col-span-4 md:text-left order-2 md:order-1">
                    <li
                        v-scroll-reveal="{ delay: (300 + (150 * (i/1))) }"
                        v-for="(item, i) in appDetails.features.slice(4, 8)"
                        :key="item._uid"
                        class="mb-8">
                        <h3 v-text="item.title" class="text-xl mb-2"/>
                        <p v-text="item.snippet" class="opacity-70 leading-tight px-6 sm:px-8 md:px-0"/>
                    </li>
                </ul>
            </WrapperGrow>
        </ContainerMini>
    </WrapperGrow>
</template>

<script>
    import { mapState } from 'vuex'
    import IconChevronRight from '~/assets/icons/chevron-right.svg?inline'
    export default {
        props: ['promoHeadline', 'promoCopy', 'promoSlug'],
        components: { IconChevronRight },
        computed: { ...mapState(['appDetails']) }
    }
</script>