<template>
    <WrapperGrow both class="overflow-hidden bg-gray-50">
        <ContainerMain v-scroll-reveal class="relative px-4 sm:px-6 lg:px-8">
            <GridPattern class="absolute top-0 left-full transform -translate-x-1/2 -translate-y-3/4 lg:left-auto lg:right-full lg:translate-x-2/3 lg:translate-y-1/4 text-yellow-500"/>
            <div class="relative lg:grid lg:grid-cols-3 lg:gap-x-8">
                <div class="lg:col-span-1">
                    <h2 class="text-3xl tracking-tight text-gray-900 sm:text-4xl max-w-xs">
                        <PreCaps :text="'Benefits'" class="font-bold"/>
                        <span v-text="`Power everything, easy`"/>
                    </h2>
                </div>
                <div class="mt-10 lg:mt-0 lg:col-span-2">
                    <dl class="space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-8 sm:gap-y-10">
                        <div v-for="item in benefits" :key="item.uuid">
                            <dt>
                                <img
                                    :src="item.content.icon.filename"
                                    :alt="item.content.icon.alt"
                                    class="flex items-center justify-center h-12 w-12 sm:h-16 sm:w-16"
                                >
                                <h3 v-text="item.content.title" class="mt-5 text-xl leading-6 font-bold text-gray-900"/>
                            </dt>
                            <dd v-text="item.content.snippet" class="mt-2 text-base text-gray-500"/>
                        </div>
                    </dl>
                    <div class="mt-8 sm:mt-12">
                        <a href="#" class="r-btn-primary w-48">
                            <IconLetter class="mr-2 w-5"/>
                            <span v-text="`Contact Sales`"/>
                        </a>
                    </div>
                </div>
            </div>
        </ContainerMain>
    </WrapperGrow>
</template>

<script>
    import GridPattern from '~/assets/icons/grid-pattern.svg?inline'
    import { mapState } from 'vuex'
    import IconLetter from '~/assets/icons/letter.svg?inline'
    export default {
        components: { GridPattern, IconLetter },
        computed: { ...mapState(['benefits'])}
    }
</script>