<template>
    <footer class="r-footer bg-gray-100 relative" aria-labelledby="footerHeading">
        <h2 v-text="`Sitemap & Navigation (Footer)`" id="footerHeading" class="sr-only"/>
        <ContainerMain pad class="sm:px-8 md:px-12 lg:px-16">
            <WrapperGrow both class="lg:grid lg:grid-cols-3 lg:gap-8">
                <div class="space-y-4 lg:col-span-1 max-w-sm mx-auto text-center lg:max-w-none lg:mx-0 lg:text-left">
                    <NuxtLink to="/" class="inline-block back-to-top">
                        <Logo class="w-24"/>
                    </NuxtLink>
                    <p v-text="settings.snippet" class="text-gray-600 leading-tight max-w-xs mx-auto lg:mx-0"/>
                    <!-- Social Links -->
                    <div class="flex space-x-4 justify-center lg:justify-start">
                        <a
                            v-for="item in settings.social_links" :key="item._uid"
                            :href="item.link.url"
                            class="text-gray-500 hover:text-accent-500">
                            <span v-text="item.name" class="sr-only"/>
                            <IconFacebook v-if="item.name.toLowerCase() === 'facebook'" class="w-7"/>
                            <IconInstagram v-if="item.name.toLowerCase() === 'instagram'" class="w-7"/>
                            <IconTwitter v-if="item.name.toLowerCase() === 'twitter'" class="w-7"/>
                        </a>
                    </div>
                </div>
                <div class="md:mt-16 grid grid-cols-2 md:grid-cols-4 gap-4 lg:gap-8 lg:mt-0 lg:col-span-2 max-w-screen-xs mx-auto md:max-w-screen-md lg:max-w-none lg:mx-0">
                    <!-- Residential Links -->
                    <div class="mt-10 md:mt-0 justify-self-center min-w-[144px] md:w-full">
                        <h3 v-text="`Residential`" class="text-xs font-medium text-gray-500 tracking-wider uppercase"/>
                        <ul class="mt-2">
                            <li v-for="item in residential" :key="item.uuid">
                                <NuxtLink
                                    :to="`/${item.full_slug}`"
                                    v-text="item.name"
                                    class="text-sm text-gray-700 hover:text-gray-900 block py-1"
                                />
                            </li>
                        </ul>
                    </div>
                    <!-- Industrial Links -->
                    <div class="mt-10 md:mt-0 justify-self-center min-w-[144px] md:w-full">
                        <h3 v-text="`Industrial`" class="text-xs font-medium text-gray-500 tracking-wider uppercase"/>
                        <ul class="mt-2">
                            <li v-for="item in industrial" :key="item.uuid">
                                <NuxtLink
                                    :to="`/${item.full_slug}`"
                                    v-text="item.name"
                                    class="text-sm text-gray-700 hover:text-gray-900 block py-1"
                                />
                            </li>
                        </ul>
                    </div>
                    <!-- Use Cases Links -->
                    <div class="mt-10 md:mt-0 justify-self-center min-w-[144px] md:w-full">
                        <h3 v-text="`Use Cases`" class="text-xs font-medium text-gray-500 tracking-wider uppercase"/>
                        <ul class="mt-2">
                            <li v-for="item in useCases" :key="item.uuid">
                                <NuxtLink
                                    :to="`/${item.full_slug}`"
                                    v-text="item.name"
                                    class="text-sm text-gray-700 hover:text-gray-900 block py-1"
                                />
                            </li>
                        </ul>
                    </div>
                    <!-- Company Links -->
                    <div class="mt-10 md:mt-0 justify-self-center min-w-[144px] md:w-full">
                        <h3 v-text="`Company`" class="text-xs font-medium text-gray-500 tracking-wider uppercase"/>
                        <ul class="mt-2">
                            <li v-for="item in settings.company_links" :key="item._uid">
                                <NuxtLink
                                    :to="`/${item.link.story.slug}`"
                                    v-text="item.name"
                                    class="text-sm text-gray-700 hover:text-gray-900 block py-1"
                                />
                            </li>
                            <li v-for="item in settings.legal_links" :key="item._uid">
                                <NuxtLink
                                    :to="`/${item.link.story.full_slug}`"
                                    v-text="item.name"
                                    class="text-sm text-gray-700 hover:text-gray-900 block py-1"
                                />
                            </li>
                        </ul>
                    </div>
                </div>
            </WrapperGrow>
            <div class="border-t border-gray-300 py-4">
                <p class="text-gray-500 text-center text-sm">
                    &copy; 2021 Mojec International Ltd. All rights reserved.
                </p>
            </div>
        </ContainerMain>
    </footer>
</template>

<script>
    import Logo from '~/assets/icons/logo.svg?inline'
    import IconFacebook from '~/assets/icons/icon-facebook.svg?inline'
    import IconInstagram from '~/assets/icons/icon-instagram.svg?inline'
    import IconTwitter from '~/assets/icons/icon-twitter.svg?inline'
    import { mapState } from 'vuex'
    export default {
        components: { Logo, IconFacebook, IconInstagram, IconTwitter },
        computed: { ...mapState(['settings', 'residential', 'industrial', 'useCases']) }
    }
</script>