<template>
    <header
        class="fixed top-0 inset-x-0 z-30 transition duration-500 ease transform-gpu is-supersized is-in-view rounded-b-xl js-header">
        <ContainerMain class="grid grid-cols-12 gap-4 sm:gap-8">
            <div class="col-span-full h-full grid grid-cols-12 gap-4">
                <button
                    class="block lg:hidden text-white p-3 col-start-1 col-span-2 sm:col-span-1 hover:opacity-80 js-toggle"
                    data-toggleable="nav-mobile">
                    <IconChevronDown class="w-4 transform-gpu transition duration-300 m-auto"/>
                </button>
                <NavMain class="hidden lg:block col-start-1 col-end-6"/>
                <NuxtLink
                    to="/"
                    class="text-white block p-3 r-logo col-start-6 col-end-8 self-center justify-self-center hover:opacity-80 transform-gpu back-to-top">
                    <span v-text="`Virtutis Solaris`" class="sr-only"/>
                    <LogoWhite class="w-14 lg:w-16 flex-shrink-0"/>
                </NuxtLink>
                <div class="col-start-8 col-end-13 justify-self-end flex items-center">
                    <button class="snipcart-customer-signin text-white py-2 pr-2 pl-4 h-full flex items-center hover:opacity-70">
                        <IconPerson class="w-6 fill-none"/>
                        <span v-text="`Your Account`" class="sr-only ml-2 font-medium text-base"/>
                    </button>
                    <button
                        class="text-white py-3 pr-4 pl-2 h-full hover:opacity-70 snipcart-checkout relative">
                        <IconCart class="w-6 fill-none"/>
                        <span v-text="`Your Cart`" class="sr-only ml-2 font-medium text-base"/>
                        <span class="snipcart-items-count absolute top-2.5 right-2 bg-yellow-500 text-black flex items-center justify-center leading-none w-5 h-5 text-xs font-medium rounded-full border border-white"/>
                    </button>
                </div>
            </div>
        </ContainerMain>
        <div
            class="text-white transition-all duration-300 rounded-b-xl js-toggleable"
            id="nav-mobile"
            style="visibility:hidden">
            <NavMobile/>
        </div>
    </header>
</template>

<script>
    import IconChevronDown from '~/assets/icons/chevron-down.svg?inline'
    import IconWhite from '~/assets/icons/icon-white.svg?inline'
    import LogoWhite from '~/assets/icons/logo-white.svg?inline'
    import IconCart from '~/assets/icons/cart.svg?inline'
    import IconPerson from '~/assets/icons/person.svg?inline'
    export default {
        components: { IconChevronDown, IconWhite, LogoWhite, IconCart, IconPerson }
    }
</script>

<style lang="scss" scoped>
    header { @apply -translate-y-full;
        &.is-in-view { @apply translate-y-0; }
        &.is-supersized { @apply translate-y-3;
            .r-logo { @apply scale-125; }
        }
    }
    svg.fill-none { fill: none; }
    .is-toggled span svg,
    .is-toggled svg { @apply rotate-180; }
</style>