<template>
    <div>
        <h3
            v-text="title"
            class="text-2xl mb-2"
        />
        <p
            v-text="copy"
            class="opacity-75 text-lg leading-snug"
        />
    </div>
</template>

<script>
    export default { props: ['title', 'copy'] }
</script>