<template>
    <div
        :class=" {
            'py-10 sm:py-16 lg:py-24': both,
            'pt-10 sm:pt-16 lg:pt-24': top,
            'pb-10 sm:pb-16 lg:pb-24': bottom,
            'mb-10 sm:mb-16 lg:mb-24': asMarginBottom,
            'mt-10 sm:mt-16 lg:mt-24': asMarginTop
        }">
        <slot/>
    </div>
</template>

<script>
    export default {
        props: {
            top: { type: Boolean },
            bottom: { type: Boolean },
            both: { type: Boolean },
            asMarginBottom: { type: Boolean },
            asMarginTop: { type: Boolean }
        },
    }
</script>