<template>
    <div class="r-hero grid grid-cols-12 grid-rows-6 gap-4 h-screen relative">
        <div class="col-span-full row-start-1 row-end-7 relative">
            <img
                :src="page.cover.filename"
                :alt="page.cover.alt"
                class="w-full h-full"
            />
        </div>
        <div class="pl-4 col-start-1 col-end-8 row-start-2 row-end-3 sm:row-start-6 sm:row-end-7 md:col-span-full md:row-start-6 md:row-end-6 z-10 self-center md:pb-8 flex flex-col sm:flex-row items-center justify-between md:col-start-2 md:col-end-12 lg:col-start-3 lg:col-end-11 animate-pop-in" style="animation-delay:.6s">
            <h2
                class="text-white text-3xl sm:text-5xl leading-tight mb-6">
                <span v-text="page.pretitle" class="opacity-70 font-bold italic text-base text-center uppercase tracking-wider"/>
                <span v-text="page.headline" class="block leading-tight"/>
            </h2>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['page']
    }
</script>