<template>
    <WrapperGrow both class="bg-gray-50">
        <div
            v-scroll-reveal="{ delay: 300 }"
            v-html="$md.render(page.content.body)"
            class="prose prose-accent prose-lg text-gray-600 mx-auto px-4 -mt-3 r-dropcap"
        />
    </WrapperGrow>
</template>

<script>
    export default {
        props: ['page']
    }
</script>