<template>
    <div class="r-hero grid grid-cols-12 grid-rows-6 gap-4 h-[480px] relative bg-black">
        <div class="col-span-full row-start-1 row-end-7 relative">
            <OverlayBlack/>
        </div>
        <div class="col-span-full px-4 row-start-5 row-end-7 z-10 self-end pb-4 sm:pb-8 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11 text-white animate-pop-in" style="animation-delay:.6s">
            <h2
                class="text-3xl sm:text-5xl leading-tight mb-4 text-center sm:text-left">
                <span
                    v-text="settings.title"
                    class="block opacity-70 font-bold italic text-base uppercase tracking-wider"
                />
                <span v-text="page.content.title" class="block leading-tight"/>
            </h2>
            <div
                v-html="$md.render(page.content.summary)"
                class="text-center sm:text-lg sm:text-left max-w-sm sm:max-w-screen-sm mx-auto sm:mx-0 prose text-white"
            />
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        props: ['page'],
        computed: {
            ...mapState(['settings'])
        }
    }
</script>