<template>
    <WrapperGrow both class="bg-white grid grid-cols-12 gap-4 sm:gap-8">
        <ContainerMain pad class="col-span-full lg:col-start-2 lg:col-end-12 grid grid-cols-1 sm:grid-cols-2 gap-8">
            <div
                v-scroll-reveal="{ delay: 300 }"
                v-for="{ _uid, heading, copy, content } in contacts"
                :key="_uid">
                <h3 v-text="heading" class="text-2xl sm:text-3xl"/>
                <p v-text="copy" class="mt-4 text-lg text-gray-600"/>
                <div
                    v-html="$md.render(content)"
                    class="prose prose-accent leading-tight mt-8"
                />
            </div>
        </ContainerMain>
    </WrapperGrow>
</template>

<script>
    export default {
        props: ['page', 'contacts']
    }
</script>