<template>
    <WrapperGrow both class="grid grid-cols-12 gap-4 sm:gap-8 bg-gray-100 border-t border-b px-4">
        <div v-scroll-reveal class="col-span-full md:col-start-3 md:col-end-11">
            <h3 v-text="page.form[0].title" class="text-2xl sm:text-3xl"/>
            <p v-text="page.form[0].snippet" class="mt-4 text-lg text-gray-600"/>
            <p v-if="submitted" v-text="page.form[0].success_message" class="text-xl text-gray-600 mt-10"/>
            <form
                v-else
                @submit.prevent="sendToServer()"
                class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-4 pt-8">
                <div>
                    <label for="first_name" v-text="'First Name'" class="block text-sm font-medium text-gray-900"/>
                    <p class="mt-2">
                        <input
                            type="text"
                            name="first_name"
                            id="first_name"
                            autocomplete="given-name"
                            required
                            v-model="first_name"
                            class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-accent-500 focus:border-accent-500 border-gray-300 rounded-md border"
                        />
                        <input type="hidden" name="_gotcha" class="hidden"/>
                    </p>
                </div>
                <div>
                    <label for="last_name" v-text="'Last Name'" class="block text-sm font-medium text-gray-900"/>
                    <p class="mt-2">
                        <input
                            type="text"
                            name="last_name"
                            id="last_name"
                            autocomplete="given-name"
                            required
                            v-model="last_name"
                            class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-accent-500 focus:border-accent-500 border-gray-300 rounded-md border"
                        />
                    </p>
                </div>
                <div>
                    <label for="email" v-text="'Email'" class="block text-sm font-medium text-gray-900"/>
                    <p class="mt-2">
                        <input
                            type="email"
                            id="email"
                            name="email"
                            autocomplete="email"
                            required
                            v-model="email"
                            class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-accent-500 focus:border-accent-500 border-gray-300 rounded-md border"
                        />
                    </p>
                </div>
                <div>
                    <div class="flex justify-between">
                        <label for="phone" v-text="'Contact Phone'" class="block text-sm font-medium text-gray-900"/>
                        <span id="phone-optional" class="text-sm text-gray-500 italic">Optional</span>
                    </div>
                    <p class="mt-2">
                        <input
                            type="text"
                            name="phone"
                            id="phone"
                            autocomplete="tel"
                            v-model="phone"
                            class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-accent-500 focus:border-accent-500 border-gray-300 rounded-md border"
                            aria-describedby="phone-optional"
                        />
                    </p>
                </div>
                <div class="sm:col-span-2">
                    <label for="subject" v-text="'Subject'" class="block text-sm font-medium text-gray-900"/>
                    <p class="mt-2">
                        <input
                            type="text"
                            name="subject"
                            id="subject"
                            required
                            v-model="subject"
                            class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-accent-500 focus:border-accent-500 border-gray-300 rounded-md border"
                        />
                    </p>
                </div>
                <div class="sm:col-span-2">
                    <div class="flex justify-between">
                        <label for="message" v-text="'Your Question/Comments'" class="block text-sm font-medium text-gray-900"/>
                        <span v-text="'Max. 500 characters'" id="message-max" class="text-sm text-gray-500 italic"/>
                    </div>
                    <div class="mt-2">
                        <textarea
                            id="message"
                            name="message"
                            rows="4"
                            required
                            v-model="message"
                            maxlength="500"
                            class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-accent-500 focus:border-accent-500 border-gray-300 rounded-md border"
                            aria-describedby="message-max">
                        </textarea>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <button
                        type="submit"
                        class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-accent-600 hover:bg-accent-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 sm:w-auto">
                        <span v-if="!submitted && !processing" v-text="'Send Message'"/>
                        <div v-else class="flex items-center">
                            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                            <span v-text="'Sending'" class="ml-2"/>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </WrapperGrow>
</template>

<script>
    export default {
        props: ['page'],
        data() {
            return {
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
                subject: '',
                message: '',
                submitted: false,
                processing: false
            }
        },
        methods: {
            encode(data) {
                return Object.keys(data)
                    .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
                    .join('&')
            },
            sendToServer() {
                this.processing = true
                fetch(this.page.form[0].endpoint, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: this.encode({
                        'First Name': this.first_name,
                        'Last Name': this.last_name,
                        'Contact Email': this.email,
                        'Contact Phone': this.phone,
                        'Message Subject': this.subject,
                        'Message Body': this.message,
                    })
                })
                .then(() => this.submitted = true )
                .catch(err => alert(err) )
            }
        },
    }
</script>