<template>
    <div>
        <!-- rotate-180 is placed here so as not to purge. I might place any class I dont want purged here. -->
        <h1
            v-text="`Virtutis Solaris | Durable clean energy generation and storage products.`"
            class="sr-only rotate-180"
        />
        <TheHeader/>
        <!-- Backdrop for Nav Mega Menu -->
        <div class="r-nav-backdrop fixed right-0 left-0 w-full bg-black rounded-b-xl z-20"/>
        <main>
            <Nuxt/>
        </main>
        <TheFooter/>
        <!-- Snipcart Modal -->
        <div
            id="snipcart"
            data-config-modal-style="side"
            data-api-key="MmJiZmJhYzEtZjdjZi00ZTVkLTkzNGMtZjJiMTRjOWU3YzJlNjM3NTIyNzU3OTM1MjU0OTE1"
            data-currency="ngn"
            hidden
        />
    </div>
</template>

<script>
    export default {
        mounted () {
            this.$snipcart()
            this.$headroom()
            this.$stripeType()
            this.$toggleable()
            this.$backToTop()
        }
    }
</script>

<style lang="scss">
    html { scroll-behavior: smooth; @apply bg-black; }
    body {
        @apply relative;
        &.mobile-nav-is-active { @apply overflow-hidden; }
    }

    :is(h1, h2, h3, h4, h5, h6) { @apply font-extrabold; }

    img { @apply object-cover; }
    svg { @apply pointer-events-none fill-current; }

    a, button { @apply transition duration-300 cursor-pointer; }

    .r-btn-primary {
        @apply flex items-center justify-center py-2.5 px-4 border-2 border-transparent font-medium rounded-full text-white bg-accent-500 hover:bg-transparent hover:text-accent-500 hover:border-accent-500;
        &.is-inverted { @apply text-accent-500 bg-white hover:bg-accent-500 hover:text-white; }
    }
    .r-btn-plain {
        @apply flex items-center justify-center py-2.5 px-4 border-2 border-transparent font-medium rounded-full text-accent-500 hover:bg-accent-500 hover:text-white;
        &.is-inverted { @apply text-white bg-transparent hover:bg-accent-500 hover:text-white; }
    }
    .r-dropcap > p:first-child::first-letter {
        @apply text-7xl font-extrabold leading-none text-black float-left uppercase pr-2;
    }


    // Custom Animations
    .page-enter-active, .page-leave-active { transition: opacity .5s; }
    .page-enter, .page-leave-active { opacity: 0; }
    .r-hero {
        animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) both;
        transform-style: preserve-3d;
        perspective: 100px;
    }
    .animate-pop-in { animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards; opacity: 0; }
    .animate-pop-up { animation: pop-up .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards; opacity: 0; }
    @keyframes fade-slide-down {
        0% {
            opacity: 0;
            transform: translate3d(0, -3rem, 0);
        }
        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes pop-in {
        0% { opacity: 0; transform: translateY(-4rem) scale(.8); }
        100% { opacity: 1; transform: none; }
    }
    @keyframes pop-up {
        0% { opacity: 0; transform: translateY(4rem) scale(.8); }
        100% { opacity: 1; transform: none; }
    }


    // Typography
    .prose strong { color: inherit; }
    .prose.text-white p { @apply text-gray-400; }
    .prose.text-white p strong { @apply text-white; }


    // Manage Navigation
    .r-nav-backdrop {
        @apply opacity-0 transform-gpu transition-all duration-300 -translate-y-full;
        &.r-nav-is-shown { @apply opacity-100 translate-y-0; }
    }


    // Tailwind Overrides
    .sm\:r-border-4 { @screen sm { border-width: 1rem; } }


    // Snipcart Overrides
    .snipcart-sidecart--opened { @apply overflow-y-hidden transition duration-300; }
    .snipcart {
        * { @apply font-semibold; }
        @apply z-50 relative transition-all duration-300;
        .snipcart-empty-cart { @apply px-4; }
        .snipcart-empty-cart__title { @apply leading-normal; }
        .snipcart-sidecart--opened & { @apply absolute inset-0 bg-black bg-opacity-70; }
        .snipcart-cart-summary--edit.snipcart-modal__container { @apply shadow-none;}
        .snipcart-cart__secondary-header { @apply px-4 min-h-[56px] bg-gray-100; }
        .snipcart-cart__secondary-header,
        .snipcart-item-line--cart-edit,
        .snipcart-item-quantity__quantity {
            @apply border-b border-solid border-gray-200;
        }
        .snipcart-item-quantity__quantity { @apply rounded-md; }
        .snipcart__font--bold { @apply font-extrabold; }
        .snipcart-item-quantity__label,
        .snipcart-cart-summary-fees__notice,
        .snipcart__actions--link,
        .snipcart-modal__close-title { @apply font-semibold; }
        .snipcart-cart-summary-fees__notice { @apply leading-tight italic opacity-80; }
        .snipcart__actions--link {  }
        .snipcart__button--icon { @apply rounded-[2px] p-1; }
        .snipcart__icon {
            @apply stroke-2;
            stroke: currentColor;
            width: 24px;
            height: 24px;
            &.snipcart__icon--red path {
                fill: #d93120;
                stroke: #d93120;
            }
        }
        .snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-item-line .snipcart-item-line__container {
            @apply p-4;
        }
        .snipcart-item-line__image { @apply h-full; }
        .snipcart-cart__footer { @apply p-4 pb-0;}
        .snipcart-cart-button { @apply rounded-lg; }
        .snipcart-cart-button--highlight,
        .snipcart__box--badge-highlight { @apply bg-gradient-to-r from-yellow-700 via-red-500 to-yellow-400; }
        .snipcart__actions--link { @apply text-accent-500; }
    }


    // Flickity

</style>