<template>
    <div>
        <AboutHero :page="page"/>
        <AboutMission :page="page"/>
        <AboutStory :page="page"/>
        <CTAMain/>
    </div>
</template>

<script>
    import seoMeta from '../utils/seo'
    export default {
        async asyncData ({ app }) {
            try {
                let
                    result = await app.$storyapi.get(`cdn/stories/pages/about`, { resolve_links: 'story' }),
                    page = result.data.story.content

                return { page }
            } catch (error) { console.log(error) }
        },
        head() {
            let
                { title, snippet, image: { filename: image } } = this.page,
                { path } = this.$route

            path = this.$config.baseURL + path

            return {
                titleTemplate: `${ title } | %s`,
                meta: seoMeta({ title, snippet, image, path }),
                link: [{ hid: 'canonical', rel: 'canonical', href: path }]
            }
        }
    }
</script>