<template>
    <div>
        <ContactHero :page="page.content"/>
        <ContactContacts
            :page="page.content"
            :contacts="page.content.contacts"
        />
        <ContactForm :page="page.content"/>
    </div>
</template>

<script>
    import seoMeta from '../utils/seo'
    export default {
        async asyncData ({ app }) {
            try {
                let
                    result = await app.$storyapi.get(`cdn/stories/pages/contact`, { resolve_links: 'story' }),
                    page = result.data.story

                return { page }
            } catch (error) { console.log(error) }
        },
        head() {
            let
                { title, snippet, image: { filename: image } } = this.page.content,
                { path } = this.$route

            path = this.$config.baseURL + path

            return {
                titleTemplate: `${ title } | %s`,
                meta: seoMeta({ title, snippet, image, path }),
                link: [{ hid: 'canonical', rel: 'canonical', href: path }]
            }
        }
    }
</script>