<template>
    <div>
        <HomeHero
            :pageTitle="page.content.title"
            :pageSnippet="page.content.snippet"
            :pageImage="page.content.image.filename"
            :pageImageAlt="page.content.image.alt"
        />
        <HomeProduct0
            :productTitle="page.content.products[0].content.title"
            :productSnippet="page.content.products[0].content.snippet"
            :productImage="page.content.products[0].content.image.filename"
            :productImageAlt="page.content.products[0].content.image.alt"
            :productHighlights="page.content.products[0].content.highlights"
            :productId="page.content.products[0].content.sku"
            :productPrice="page.content.products[0].content.stock_price"
            :productUrl="`${$config.baseURL}/` + page.content.products[0].full_slug"
            :productSlug="`/${page.content.products[0].full_slug}`"
            :productDescription="page.content.products[0].content.description"
            :productStoreImage="page.content.products[0].content.store_image.filename"
            :productName="page.content.products[0].content.title"
        />
        <HomeProduct1
            :productTitle="page.content.products[1].content.title"
            :productImage="page.content.products[1].content.image.filename"
            :productImageAlt="page.content.products[1].content.image.alt"
            :productHighlights="page.content.products[1].content.highlights"
            :productId="page.content.products[1].content.sku"
            :productPrice="page.content.products[1].content.stock_price"
            :productUrl="`${$config.baseURL}/` + page.content.products[1].full_slug"
            :productSlug="`/${page.content.products[1].full_slug}`"
            :productDescription="page.content.products[1].content.description"
            :productStoreImage="page.content.products[1].content.store_image.filename"
            :productName="page.content.products[1].content.title"
        />
        <HomeProduct2
            :productTitle="page.content.products[2].content.title"
            :productImage="page.content.products[2].content.image.filename"
            :productImageAlt="page.content.products[2].content.image.alt"
            :productHighlights="page.content.products[2].content.highlights"
            :productId="page.content.products[2].content.sku"
            :productPrice="page.content.products[2].content.stock_price"
            :productUrl="`${$config.baseURL}/` + page.content.products[2].full_slug"
            :productSlug="`/${page.content.products[2].full_slug}`"
            :productDescription="page.content.products[2].content.description"
            :productStoreImage="page.content.products[2].content.store_image.filename"
            :productName="page.content.products[2].content.title"
        />
        <HomeProduct3
            :pageTeaserHeadline="page.content.page_teaser[0].headline"
            :pageTeaserCopy="page.content.page_teaser[0].copy"
            :productId="page.content.page_teaser[0].page.content.sku"
            :productPrice="page.content.page_teaser[0].page.content.stock_price"
            :productUrl="`${$config.baseURL}/` + page.content.page_teaser[0].page.full_slug"
            :productSlug="`/${page.content.page_teaser[0].page.full_slug}`"
            :productDescription="page.content.page_teaser[0].page.content.description"
            :productStoreImage="page.content.page_teaser[0].page.content.store_image.filename"
            :productName="page.content.page_teaser[0].page.content.title"
            :vContainerLink="`/${vcontainer.full_slug}`"
            :vContainerImage="vcontainer.content.image.filename"
            :vContainerAlt="vcontainer.content.image.alt"
        />
        <PromoApp
            :promoHeadline="page.content.promo_app[0].headline"
            :promoCopy="page.content.promo_app[0].copy"
            :promoSlug="`/${page.content.promo_app[0].page.full_slug}`"
        />
        <CTAMain/>
    </div>
</template>

<script>
    import seoMeta from '../utils/seo'
    export default {
        props: ['pageTitle'],
        async asyncData ({ app }) {
            let
                result = await app.$storyapi.get('cdn/stories/solutions/vcontainer', {}),
                { data: { story: page } } = await app.$storyapi.get('cdn/stories/home', {
                    resolve_relations: 'products,page_teaser.page,promo_app.page'
                }),
                vcontainer = result.data.story

            return { vcontainer, page }
        },
        head() {
            let
                { title, snippet, image: { filename: image } } = this.page.content,
                { path } = this.$route

            path = this.$config.baseURL

            return {
                titleTemplate: `${ title } | %s`,
                meta: seoMeta({ title, snippet, image, path }),
                link: [{ hid: 'canonical', rel: 'canonical', href: path }]
            }
        }
    }
</script>