<template>
    <div class="sm:px-2 sm:pt-2 bg-gray-50">
        <div v-scroll-reveal>
            <ClientOnly>
                <Flickity :options="fOptions1" class="main-carousel">
                    <div
                        v-for="image in gallery"
                        :key="image.id"
                        class="w-full max-w-[320px] sm:max-w-[464px] md:max-w-[576px] lg:max-w-[920px] rounded-xl mr-2">
                        <img
                            :src="image.filename"
                            :alt="image.alt"
                            class="w-full max-w-[320px] sm:max-w-[464px] md:max-w-[576px] lg:max-w-[920px] h-[456px] sm:h-[528px] md:h-[656px] lg:h-[692px] rounded-xl"
                        />
                    </div>
                </Flickity>
            </ClientOnly>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['gallery'],
        data() {
            return {
                fOptions1: {
                    wrapAround: true,
                    contain: true,
                    prevNextButtons: false,
                    pageDots: false,
                    autoPlay: 3500
                }
            }
        }
    }
</script>