<template>
    <div class="r-hero grid grid-cols-12 grid-rows-6 gap-4 h-screen relative bg-gray-50">
        <div class="col-span-full row-start-1 row-end-5 relative">
            <img
                :src="heroImage"
                :alt="heroImageAlt"
                class="w-full h-full"
            />
            <div class="absolute inset-0 bg-black bg-opacity-50"/>
        </div>
        <div class="px-4 col-span-full row-start-4 row-end-4 z-10 self-end pb-4 flex flex-col sm:flex-row items-center justify-between md:col-start-2 md:col-end-12 lg:col-start-3 lg:col-end-11 animate-pop-in" style="animation-delay:.6s">
            <h2
                v-text="pageTitle"
                class="text-white text-3xl sm:text-5xl leading-tight mb-4 sm:mb-0"
            />
            <button
                :data-item-id="productId"
                :data-item-price="productPrice"
                :data-item-url="productUrl"
                :data-item-description="productDescription"
                :data-item-image="productStoreImage"
                :data-item-name="productName"
                class="r-btn-primary is-inverted snipcart-add-item">
                <IconCart class="mr-2 w-5"/>
                <span v-text="`Order Now`"/>
            </button>
        </div>
        <div class="px-4 pt-4 row-start-5 row-end-7 col-span-full justify-self-center text-center flex flex-col justify-between">
            <div>
                <p v-text="snippet" class="max-w-xs mx-auto sm:max-w-screen-sm sm:text-lg opacity-80 animate-pop-in" style="animation-delay:.8s"/>
                <div class="grid grid-cols-3 gap-4 sm:gap-8 sm:mt-4 animate-pop-in" style="animation-delay:1s">
                    <h2 v-text="'Key Highlights'" class="sr-only"/>
                    <div
                        v-for="stat in highlights"
                        :key="stat._uid"
                        class="mt-4 sm:mt-8">
                        <p v-text="stat.keypoint" class="font-bold text-3xl lg:text-4xl leading-tight"/>
                        <p v-text="stat.explainer" class="text-sm opacity-70 leading-tight"/>
                    </div>
                </div>
            </div>
            <button
                @click="scrollNext"
                class="hidden sm:block mx-auto p-4 mt-4 sm:mb-8 text-accent-500 animate-pop-in" style="animation-delay:1.2s">
                <IconChevronDown class="w-5 motion-safe:animate-bounce"/>
            </button>
        </div>
    </div>
</template>

<script>
    import IconCart from '~/assets/icons/cart.svg?inline'
    import IconChevronDown from '~/assets/icons/chevron-down.svg?inline'
    export default {
        props: [
            'pageTitle', 'heroImage', 'heroImageAlt', 'snippet', 'highlights',
            'productId', 'productPrice', 'productUrl', 'productDescription', 'productStoreImage', 'productName'
        ],
        components: { IconCart, IconChevronDown },
        methods: {
            scrollNext(e) { if (process.client) e.target.parentNode.parentNode.nextElementSibling.scrollIntoView() }
        }
    }
</script>