<template>
    <WrapperGrow bottom class="bg-gray-50 px-4">
        <div class="relative prose mx-auto prose-accent prose-lg border border-gray-300 shadow-sm bg-white rounded-xl">
            <button
                class="w-full px-4 flex items-center py-4 justify-between text-lg rounded-xl font-bold text-accent-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 js-toggle"
                data-toggleable="full-literature">
                <span v-text="`More about ${page.title}`" class="pointer-events-none"/>
                <span class="pointer-events-none">
                    <IconChevronDown class="w-5 transform-gpu transition duration-300 m-auto"/>
                </span>
            </button>
            <div
                v-html="$md.render(page.full_literature)"
                class="px-4 text-gray-600 r-dropcap transition-all duration-300 js-toggleable"
                id="full-literature"
            />
        </div>
    </WrapperGrow>
</template>

<script>
    import IconChevronDown from '~/assets/icons/chevron-down.svg?inline'
    export default {
        props: ['page'],
        components: { IconChevronDown }
    }
</script>

<style lang="scss" scoped>
    .is-toggled span svg { @apply rotate-180; }
</style>