<template>
    <WrapperGrow both class="bg-gray-50">
        <ContainerMini pad>
            <div class="grid grid-cols-12 gap-4 sm:gap-8">
                <div
                    class="col-span-full sm:col-start-4 sm:col-end-10 md:col-start-2 md:col-end-12 grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12">
                    <img
                        :src="storeImage"
                        :alt="storeImageAlt"
                        class="h-[496px] mx-auto object-contain"
                    >
                    <div>
                        <h2 class="text-2xl lg:text-3xl">
                            <span v-text="`Specs`" class="block opacity-60 text-base uppercase tracking-wide"/>
                            <span v-text="`${pageTitle}`" class="block leading-tight"/>
                        </h2>
                        <ul class="grid grid-cols-2 gap-3 gap-y-6 sm:gap-y-8 mt-4 sm:mt-8">
                            <li
                                v-for="item in specs"
                                :key="item._uid">
                                <div class="flex items-center mb-1">
                                    <span class="block mr-2 w-2 h-2 bg-accent-500 transform -skew-y-12"/>
                                    <span v-text="item.name" class="block font-bold text-sm uppercase tracking-wide"/>
                                </div>
                                <span v-text="item.value" class="block text-sm leading-tight opacity-80 font-medium max-w-[9rem]"/>
                            </li>
                        </ul>
                        <div class="mt-8 sm:mt-12 max-w-[168px]">
                            <button
                                :data-item-id="productId"
                                :data-item-price="productPrice"
                                :data-item-url="productUrl"
                                :data-item-description="productDescription"
                                :data-item-image="productStoreImage"
                                :data-item-name="productName"
                                class="r-btn-primary snipcart-add-item">
                                <IconCart class="mr-2 w-5"/>
                                <span v-text="`Order Now`"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ContainerMini>
    </WrapperGrow>
</template>

<script>
    import IconCart from '~/assets/icons/cart.svg?inline'
    export default {
        props: [
            'storeImage', 'storeImageAlt', 'pageTitle', 'specs',
            'productId', 'productPrice', 'productUrl', 'productDescription', 'productStoreImage', 'productName'
        ],
        components: { IconCart }
    }
</script>