<template>
    <div class="r-hero grid grid-cols-12 grid-rows-6 gap-4 h-[480px] sm:h-[536px] relative">
        <div class="col-span-full row-start-1 row-end-7 relative">
            <img
                :src="page.cover[0].image.filename"
                :alt="page.cover[0].image.alt"
                class="w-full h-full"
            />
            <OverlayBlack/>
        </div>
        <div class="col-span-full px-4 row-start-5 row-end-7 z-10 self-end pb-4 flex flex-col sm:flex-row items-center justify-between lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11 animate-pop-in" style="animation-delay:.6s">
            <h2
                class="text-white text-3xl sm:text-5xl leading-tight mb-4 sm:mb-0">
                <span
                    v-text="page.cover[0].title"
                    class="block opacity-70 font-bold italic text-base text-center sm:text-left uppercase tracking-wider"
                />
                <span v-text="page.cover[0].headline" class="block leading-tight"/>
            </h2>
            <NuxtLink :to="`/${page.cover[0].link.story.slug}`" class="r-btn-primary is-inverted">
                <span v-text="`Contact Us`"/>
            </NuxtLink>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['page']
    }
</script>