<template>
    <WrapperGrow both class="grid grid-cols-12 gap-4 sm:gap-8 bg-gray-50">
        <div class="col-span-full px-4 text-center sm:grid sm:grid-cols-3 sm:gap-8 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11">
            <h3
                v-scroll-reveal="{ delay: 200 }"
                v-text="page.mission[0].heading"
                class="sm:self-start text-center sm:col-span-1 text-2xl pb-6 sm:pb-0"
            />
            <div
                v-scroll-reveal="{ delay: 200 }"
                v-html="$md.render(page.mission[0].content)"
                class="text-center text-2xl sm:text-3xl sm:text-left sm:col-span-2 max-w-md mx-auto sm:max-w-none sm:mx-0 font-medium prose"
            />
        </div>
    </WrapperGrow>
</template>

<script>
    export default {
        props: ['page']
    }
</script>