<template>
    <WrapperGrow bottom class="bg-gray-50">
        <div v-scroll-reveal class="relative">
            <div
                v-html="$md.render(page.story[0].content)"
                class="prose prose-accent prose-lg text-gray-600 mx-auto px-4 r-dropcap"
            />
        </div>
    </WrapperGrow>
</template>

<script>
    export default {
        props: ['page']
    }
</script>